---
import Layout from "../../layouts/Layout.astro";
import ProgrammeCard from "../../components/ProgrammeCard.astro";
import {
    getArtistsByDate,
    formatDateNoHour,
} from "../../../backend/backend.mjs";

let artistes = await getArtistsByDate();
let days = {};
for (const art of artistes) {
    if (!days[art.date]) days[art.date] = [];
    days[art.date].push(art);
}
---

<Layout title="Programme" desc="Programme du festival par jour">
    <div class="px-5 py-10">
        {
            Object.entries(days).map(([day, events]) => (
                <div class="mb-10">
                    <h3 class="text-2xl font-bold mb-6 text-black text-center">
                        {formatDateNoHour(day)}
                    </h3>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                        {events.map((event) => (
                            <ProgrammeCard event={event} />
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</Layout>
